#container {
	background-color: rgba(245, 245, 245, 0.4);
	width: 1020px;
	min-height: 100%;
	margin-left: 125px;
	position: absolute;
}

body, html {
	height: 100%;
}

.loginform ul {
    padding: 0;
    margin: 0;
	font-size: 25px;
	font-family: 'Georgia', serif;
}
.loginform li {
	margin-left: 62px;
	display: inline;
    float: left;
	font-size: 25px;
	font-family: 'Georgia', serif;

}
.registerform ul {
    padding: 0;
    margin: 0;
	font-size: 25px;
	font-family: 'Georgia', serif;
}
.registerform li {
	margin-left: 62px;
	display: inline;
    float: left;
	font-size: 25px;
	font-family: 'Georgia', serif;

}

.loginform input[type=submit] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #64c8ef; 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 );
    color: #fff;
    padding: 5px 15px;
    margin-left: 230px;
    margin-top: 0;
    border-radius: 5px;
    font-family: 'Georgia', serif;
	font-size: 25px;
	text-align: center;
	float: center;
}

.registerform input[type=submit] {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #64c8ef; 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 );
    color: #fff;
    padding: 5px 15px;
    margin-left: 170px;
    margin-top: 0;
    border-radius: 5px;
    font-family: 'Georgia', serif;
	font-size: 25px;
	text-align: center;
	float: center;
}

th, td{
    text-align: left;
    font-family: 'Georgia', serif;
	font-size: 25px;
}

.links {
		
		font-family: 'Georgia', serif;
		font-size: 22px;


		}

.links a
{
    display:block;
    font-size: 40px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.links a:hover{
	border: 1px #33CCFF;
    background-color: #33CCFF; 

	
}

.links a:active{
	border: 1px #33CCFF;
    background-color: #33CCFF;
}

.logo
{
	
	width: 10%;
	display: block;
	margin-right: 30px ;
	margin-top: 15px ;
	text-align: left;
}

h1 {
	color: #006666;
	font-family: 'Georgia', serif;
	font-size: 50px;
}

h2 {
	color: #006666;
	font-family: 'Georgia', serif;
	font-size: 30px;
}

.mainbod {
	    padding:15px;
	    vertical-align: top;

}

a {
	color: #33CCFF;
}

table {
	table-layout:fixed;
}

button {
	 float:right;
	 padding:3px;
	 background-color:#33CCFF;
	 font-size: 20px;
	 color: white;
}
